<!-- home.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- using local varaible using ejs tag -->
    <title><%=title%></title>
   
  </head>
  <body>
    <h1><%=hero%></h1>
  </body>
</html>
